#main #main-right li {
    height: 25px;
    border-bottom: 1px dashed #cdcdcd;
    line-height: 26px;
}
#main #main-right li .icon {
	display: inline-block;
	vertical-align: top;
	width: 6px;
	height: 8px;
	margin-top: 5px;
	margin-right: 3px;
	background-image: url(../img/ico_02.gif);
}

#main #main-right li .title {
	display: inline-block;
	vertical-align: top;
	width:506px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#main #main-right #page {
	width: 400px;
	margin: 16px auto;
}
#main #main-right #page a {
	display: inline-block;
	width: 34px;
	height: 18px;
	text-align: center;
	border: 1px solid #AFD5F5;
	border-radius: 2px;
}
#main #main-right #page form {
	display: inline-block;
	vertical-align: top;
	margin-left: 30px;
}
#main #main-right #page form input[type="submit"] {
	border: 1px solid #AFD5F5;
	background-color: rgb(191, 220, 248);
}
#main #main-right #page form input[type="text"] {
	width: 30px;
}
#login {

}