<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>东北师范大学信息与软件工程学院</title>
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/list.css" />
    <style>
    #main #main-right li .title {
        width: 321px;
    }
    #main #main-right li .delete {
        margin-right: 220px;
    }
    #main #main-right #page .add {
        margin-left: 17px;
    }
    </style>
</head>

<body>
    <div id="header">
        <div id="banner-wrapper">
            <div id="banner">
                                <form>
                    <input type="text" name="" value="">
                    <input type="submit" name="" value="">
                </form>
            </div>
        </div>
        <div id="nav">
            <div id="nav-content">
                <ul>
                    <li class="first"><a href=""></a></li>
                    <li index="1"><a href="">学院概况</a></li>
                    <li index="2"><a href="">办学特色</a></li>
                    <li index="3"><a href="">学科专业</a></li>
                    <li index="4"><a href="">科学研究 </a></li>
                    <li index="5"><a href="">人才培养</a></li>
                    <li index="6"><a href="">招生信息</a></li>
                    <li index="7"><a href="">学生就业</a></li>
                    <li index="8"><a href="">合作交流</a></li>
                    <li index="9"><a href="">社会服务</a></li>
                    <li index="10"><a href="">党建工作</a></li>
                    <li index="11"><a href="">教职员工</a></li>
                    <li index="12"><a href="">学院资讯</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="main">
        <div id="pic">
            <img src="img/list_banner.jpg" alt="信息与软件工程学院">
        </div>
        <div id="main-left">
            <h1>党建工作</h1>
            <ul>
                <li><span></span><a href="">组织机构</a></li>
                <li><span></span><a href="">入党流程</a></li>
                <li><span></span><a href="">规章制度</a></li>
                <li><span></span><a href="">发展公示</a></li>
                <li><span></span><a href="">管理员退出</a></li>
            </ul>
            <img src="img/left_banner.jpg" alt="pic">
        </div>
        <div id="main-right">
            <div id="main-right-header">
                <h1><span></span>入党流程</h1>
                <p>当前位置：<span class="now">党建工作 &gt; 入党流程</span></p>
            </div>
            <div id="main-right-content">
                <ul>
                    <li><span class="icon"></span><a href="" class="title">入党申请书</a><button class="edit">编辑</button><button class="delete">删除</button><span class="date">2015-05-01</span></li>
                    <li><span class="icon"></span><a href="" class="title">入党申请书</a><button class="edit">编辑</button><button class="delete">删除</button><span class="date">2015-05-01</span></li>
                    <li><span class="icon"></span><a href="" class="title">入党申请书</a><button class="edit">编辑</button><button class="delete">删除</button><span class="date">2015-05-01</span></li>
                    <li><span class="icon"></span><a href="" class="title">入党申请书</a><button class="edit">编辑</button><button class="delete">删除</button><span class="date">2015-05-01</span></li>
                    <li><span class="icon"></span><a href="" class="title">入党申请书</a><button class="edit">编辑</button><button class="delete">删除</button><span class="date">2015-05-01</span></li>
                    <li><span class="icon"></span><a href="" class="title">入党申请书</a><button class="edit">编辑</button><button class="delete">删除</button><span class="date">2015-05-01</span></li>
                    <li><span class="icon"></span><a href="" class="title">入党申请书</a><button class="edit">编辑</button><button class="delete">删除</button><span class="date">2015-05-01</span></li>
                    <li><span class="icon"></span><a href="" class="title">入党申请书</a><button class="edit">编辑</button><button class="delete">删除</button><span class="date">2015-05-01</span></li>
                    <li><span class="icon"></span><a href="" class="title">入党申请书</a><button class="edit">编辑</button><button class="delete">删除</button><span class="date">2015-05-01</span></li>
                    <li><span class="icon"></span><a href="" class="title">入党申请书</a><button class="edit">编辑</button><button class="delete">删除</button><span class="date">2015-05-01</span></li>
                </ul>
                <div id="page">
                    共<span class="all">34</span>条
                    <span class="now">1/</span><span class="total">4</span>
                    <a href="">首页</a>
                    <a href="">上页</a>
                    <a href="">下页</a>
                    <a href="">尾页</a>
                    <form action="">
                        <input type="submit" name="" value="转至">
                        <input type="text" name="" value="">页
                    </form>
                    <button class="add">添加</button>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <div id="footer-left"></div>
        <div id="footer-right">
            <p>版权所有&copy;东北师范大学信息与软件工程学院 地址：吉林省长春市净月大街2555号 邮编：130117 &nbsp;&nbsp;&nbsp;&nbsp;联系我们|E-mail</p>
        </div>
    </div>

</body>

</html>